@charset "utf-8";
/* CSS Document */

body{
min-width:1200px;
background-color:#FFFFEB;/* CSS Document #F3F2F7;*/
margin: 0;
padding: 0;
1background-image:url('bg.png');
background: #ffffff;
1background-image: url("images/Core/zenbgWhite.png");
1font-family:"Trebuchet MS", Helvetica, sans-serif;
font-family: 'Open Sans', sans-serif;
}

.underConstruction{
width:100%;
height:28px;
background-image:url('icons/construction.gif');
background-repeat:repeat-x;
}

.header{
background-color:#00F;
height:3px;

-moz-box-shadow:0px 5px 10px 3px rgba(119, 119, 119, 0.5);
-webkit-box-shadow:0px 5px 10px 3px rgba(119, 119, 119, 0.5);
box-shadow:0px 5px 10px 3px rgba(119, 119, 119, 0.5);
behavior: url(javascript/PIE.php);
}

.topMenu{
margin-top:0px;
width:80%;
height:120px;
margin-left:auto;
margin-right:auto;
}

.topMenuItem :hover{
	color:#FFF;
	margin-top:60px;
	line-height:70%;
}

.topMenuItem a{
		text-decoration:none;
		color:#FFF;
		font-size:150%;
}
.topMenuItem{
	border:0px;
	float:left;
	text-align:center;
	margin:90px 10px 0px 10px;

}

.topMenuRight{
	float:left;
	height:100%;
	width:200px;
	margin-left:30px;
}

.topMenuLeft{
	float:left;
	width:75%;
	height:100%;
	overflow:hidden;
}

.content{
	margin-top:30px;
	width:80%;

	
	margin-left:auto;
	margin-right:auto;
}

.topBoxTitle{
	display:block;
	position:absolute;
	width: 100%;
	height: 100%;
	font-size:350%;
	text-align:center;
	padding-top:80px;
	color:#FFF;
}


/* de updatat*/
.topBoxDescription{
	width:85%;
	text-align:right;
	margin-top:140px;
	float:left;
	position:absolute;
	padding-right:5%;
	line-height:100%;
	height:20px;
	overflow:hidden;
}

.topBoxDescription ul{
	list-style-type:none;
	margin-top:0px;
	padding-top:0px;
}
.topBoxDescription a{
	text-decoration:none;
	color:#FFF;
	font-size:90%;
}

.topBoxPicture{

}

.leftContent :hover{
background-color:#1E45E3;
}
.leftContent{
	width:30%;
	height:170px;
	float:left;
	cursor: hand; cursor: pointer;

	background-color:#C09;
	background-image:url('../images/replaceable/left.jpg');
	background-size: 100% auto;
	border: thin #888 solid;

	position:relative;
	overflow:hidden;
	
-webkit-box-shadow: 11px 15px 15px rgba(111, 107, 109, 0.6);
-moz-box-shadow:    11px 15px 15px rgba(111, 107, 109, 0.6);
box-shadow:         11px 15px 15px rgba(111, 107, 109, 0.6);
behavior: url(javascript/PIE.php);
}

#leftcontentDescription{
	background-color:#00F;
}

.middleContent :hover{
background-color:#1E45E3;
}
.middleContent{
	width:30%;
	height:170px;
	float:left;
	margin-left:5%;
	cursor: hand; cursor: pointer;
	background-color:#0FF;
	background-image:url('../images/replaceable/middle.jpg');
	background-size: 100% auto;
	border: thin #888 solid;
	
	position:relative;
	overflow:hidden;
	
-webkit-box-shadow: 11px 15px 15px rgba(111, 107, 109, 0.6);
-moz-box-shadow:    11px 15px 15px rgba(111, 107, 109, 0.6);
box-shadow:         11px 15px 15px rgba(111, 107, 109, 0.6);
behavior: url(javascript/PIE.php);
}

#middlecontentDescription{
	background-color:#00F;
}

.rightContent{
	width:30%;
	height:170px;
	float:right;
	cursor: hand; cursor: pointer;
	background-color:#FC0;
	background-image:url('../images/replaceable/right.jpg');
	border: thin #888 solid;
	background-size: 100% auto;
	
	position:relative;
	overflow:hidden;

-webkit-box-shadow: 11px 15px 15px rgba(111, 107, 109, 0.6);
-moz-box-shadow:    11px 15px 15px rgba(111, 107, 109, 0.6);
box-shadow:         11px 15px 15px rgba(111, 107, 109, 0.6);
behavior: url(javascript/PIE.php);
}

#rightcontentDescription{
	background-color:#00F;
}

.contentInfo{
position:relative;
float:right;
width:100%;
margin:30px 0px 10px 0px;

1background-color:#EFEFEF;

1box-shadow: 0px 3px 15px 0px #6B6B6B;
1-webkit-box-shadow: 0px 3px 15px 0px #6B6B6B;
1-moz-box-shadow: 0px 3px 15px 0px #6B6B6B;
1-o-box-shadow: 0px 3px 15px 0px #6B6B6B;

1border:thin solid #AAA;
}

.logo{
margin-top:10px;
width:300px;
height:150px;
background-color:#D8D6FF;
}

#copyright{
clear:both;
margin-right:10%;
font-size:70%;
margin-top:30px;
float:right;
color:#FFF;
}

.footer{
min-height:100px;
width:100%;
margin-top:30px;
float:left;
background: #ff0000;
background-image: url("../images/design/zenbg.png");
border-top:#B9B5FF solid thin;

-webkit-box-shadow: 0px -4px 19px rgba(130, 132, 132, 0.6);
-moz-box-shadow:    0px -4px 19px rgba(130, 132, 132, 0.6);
box-shadow:         0px -4px 19px rgba(130, 132, 132, 0.6);
}

#footerContent span {
float:left;
margin:10px;

1background-color:#FCC;
}

#footerContent span  :hover{
	line-height:70%;
}

#footerContent span a {
	text-decoration:none;
	font-size:100%;
	color:#FFF;
}

.headerBackground{
	position:absolute;
	z-index:-1;
	width:100%;
	height:400px;
	1background-color:rgba(255, 102, 0, 0.98);
	1background-color:rgb(138, 0, 110);
	1background-image:url('bg.png');
	1background-image:url('stripes.gif');

background: #ff0000;
background-image: url("../images/design/zenbg.png");


	top:0px;
	border-bottom:#B9B5FF solid thin;
	
-webkit-box-shadow: 0px 8px 15px rgba(130, 132, 132, 0.6);
-moz-box-shadow:    0px 8px 15px rgba(130, 132, 132, 0.6);
box-shadow:         0px 8px 15px rgba(130, 132, 132, 0.6);
}

.topSlideShow{
    width: 80%;
	margin: 0px auto 0px auto;
	height:300px;
    background: #ccc;
    border: 5px solid white;
    position:relative;
	
-webkit-box-shadow: 3px 15px 20px rgba(56, 60, 63, 0.7);
-moz-box-shadow:    3px 15px 20px rgba(56, 60, 63, 0.7);
box-shadow:         3px 15px 20px rgba(56, 60, 63, 0.7);
behavior: url(javascript/PIE.php);
);
}

.topSlideShow img{
	width:100%;
	height:100%;
}

.contactPopup{
	position:static;
	z-index:300;
	width:80%;
	height:80%;
	top:10px;
	background-color:#555;
}

.contactSlide{
    display: none;
    position: absolute;
	min-height:500px;
    bottom: 0px;
    z-index: 5;
    vertical-align:baseline;
    background-color: #FF0;
    
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

/* modificat SD */
.contactSlideCloseBtn{
    width: 60px;
    height: 60px;
    clear: both;
    float: right;
    background-color: #3AA;
}



.shortDescription{
	height:100%;
	z-index:0;
	position:absolute;
	top:60px;
	font-size:smaller;
	padding:5px 5px 0px 5px;
	color:#FFF;
}

#listActProjConcText{
	padding-bottom:30px;
	float:left;
	display:block;
	width:100%;
}


.listActProjConc{

display:none;
}

.listActProjConcDescriereIcon
{
	margin-top:30px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.listActProjConcDescriereText {
	text-align:justify;
	text-justify:inter-word;
	color:rgb(109, 109, 109);
	margin:30px 0px 50px 0px;
	float:left;
	width:52%;
}

.listActProjConcDescriereText p {
	color:rgb(80, 96, 158);
	font-size:large;
	width:100%;
}

.listActProjConc span :hover {
	background-color:#1E45E3;
	padding-top:25px;
	font-size:larger;
}

.listActProjConc span{

	color:#000;
	overflow:hidden;
	position:relative;
	cursor: hand; cursor: pointer;
	float:left;
	background-color:#F0F;
	width:300px;
	height:100px;
	margin:8px;
	background-color:#F0F;
	display: block;
	border: thin #888 solid;
-webkit-box-shadow: 11px 15px 15px rgba(111, 107, 109, 0.6);
-moz-box-shadow:    11px 15px 15px rgba(111, 107, 109, 0.6);
box-shadow:         11px 15px 15px rgba(111, 107, 109, 0.6);
behavior: url(javascript/PIE.php);


}


.listActProjConc a{
	z-index:1;
	position:absolute;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#FFF;
	text-decoration:none;
	display:block;
	padding-top:20px;
	top:0px;
	font-size:100%;
	width: 100%;
	height: 100%;

}

.acasaDefaultPage{
	min-height:200px;
	width:100%;
	display:none;
}

.actiuniPage{
	min-height:200px;
	width:100%;
	display:none;
}

.detaliiActProjConc{
	min-height:200px;
	width:100%;
}

.listaInstitutii{
	min-height:200px;
	width:100%;
	display:none;
}

.regulamentInfo{
	min-height:200px;
	width:100%;
	display:none;
}

.galerieFoto{
	min-height:800px;
	width:100%;
	display:none;
}
.despreNoi{
	min-height:200px;
	width:100%;
	display:none;
}
/*-------------------------------detalii proiect ---------------*/
#detaliiTitlu{
	float:left;
	font-size:300%;
	margin-left:10%;
	margin:20px;
	font-weight:bold;
	color:rgb(80, 96, 158);
	clear:both;
}

.detaliiDiverse{
	width:30%;
	min-height:100px;
	float:right;
	color:rgb(80, 96, 158);
}

.detaliiDiversePictogrameDreapta{
	width:30px; height:30px;
	margin:5px;
	float:right;
}

.detaliiDataLinie{
width:100%; height:3px; background-color:#BBB;
float:right;
}

#detaliiDescriere{
float:left;
clear:both;
margin-top:30px;
margin-bottom:30px;
color:rgb(109, 109, 109);
}

#detaliiDataLiniePozitieCurenta{
height:100%; width:70%; background-color:#00F;
}

#detaliiDataStart{
float:left;
font-size:70%;
}

#detaliiDataSfarsit{
float:right;
font-size:70%;
}

#detaliiManager:hover{
	cursor: hand; cursor: pointer; 
}

#detaliiManager{
float:left;
clear:both;
font-size:70%;
margin:10px 0px 0px 0px;
}

#detaliiUtilizatoriInscrisi{
	float:right;
	width:38%;
	min-height:200px;
}

.detaliiCommentsContainer{
width:60%;
float:left;
margin-top:30px;
}

.detaliiComment{
	background-color:#FFF2F9;
	float:right;
	width:80%;
	min-height:30px;
	margin:5px 30px 5px 10px;
}
	
.commentNume:hover{
	cursor: hand; cursor: pointer; 
}

.commentNume{
width:50%;
float:left;
font-size:100%;
font-weight:bold;
color:#00F;
padding:5px 0px 0px 10px;
color:rgb(80, 96, 158);
}

.commentMesaj{
padding:3px;
width:100%;
float:left;
font-size:100%;
color:rgb(109, 109, 109);
}

.commentData{
width:40%;
float:right;
font-size:70%;
font-weight:bold;
color:#00F;
text-align:right;
padding:5px 10px 0px 0px;
color:rgb(80, 96, 158);
}

#detaliiUtilizatoriInscrisi span :hover{
	color:#F00;
}

#detaliiUtilizatoriInscrisi span {
float:left;
margin:10px;
}

#detaliiUtilizatoriInscrisi span a {
	text-decoration:none;
	font-size:100%;
	color:rgb(80, 96, 158);
}

#detaliiUtilizatoriInscrisi p{
	color:rgb(80, 96, 158);
	font-size:150%;
}

/*-------------------------------end detalii proiect ---------------*/

/*-------------------------------info utilizator ---------------*/
#utilizatorInfo{
	min-height:100px;
	width:350px;
	position:fixed;
	z-index:103;
	background-color:#FFF;
	margin-left:60%;
	border:solid;
	border-color:rgb(80, 96, 158);
	border-top:0px;
	overflow:hidden;
	padding-top:10px;
	display:none;
}

.utilizatorData{
	position:relative;
	width:260px;
	min-height:100px;
	float:right;
	padding:10px 5px 15px 5px;
	line-height:150%;
}

.utilizatorPicture{
	position:relative;
	width:50px;
	float:left;
	height:50px;
	margin:15px 0px 0px 15px;
	border:solid thin;
	border-color:rgb(80, 96, 158);
}

.utilizatorInfoClose{
	position:relative;
	float:left;
	height:30px;
	width:100%;
	background-color:#E3E4FF;
	border-top:solid thin rgb(80, 96, 158);
	text-align:center;
	line-height:170%;
	color:rgb(80, 96, 158);
}

.utilizatorInfoClose:hover{
	color:#F00;
	cursor: hand; cursor: pointer; 
}

/*-------------------------------end info utilizator ---------------*/

/*-------------------------------contentContact ---------------*/

#contentContact{
	min-height:200px;
	width:100%;
	display:none;
}

#contentContactLeft p {
	color:rgb(80, 96, 158);
	font-size:large;
}

#contentContactLeft span {
	color:rgb(109, 109, 109);
}

#contentContactLeft{
	width:52%;
	float:left;
	text-align:justify;
	text-justify:inter-word;
}

#contentContactRight{
	width:45%;
	float:right;
	color:rgb(109, 109, 109);
}

/*-------------------------------Parteneri & Sponsori ---------------*/

#parteneriDiv{
	margin-top:30px;
	min-height:50px;
	width:100%;
	background-color:#EBEBEB;
	position:relative;
	float:left;
	display:none;
}

.titluParteneri{
	background-color:#FFF;
	color:#949494;
	width:100%;
	float:left;
	text-align:center;
}

.contentParteneri a{
	margin: 0 auto;
}
.contentParteneri{
	float:left;
	width:100%;
	text-align: center;
	margin: 0 auto;
}


#sponsoriDiv{
	margin-top:30px;
	min-height:50px;
	width:100%;
	background-color:#EBEBEB;
	position:relative;
	float:left;
	display:none;
}

.closeBtnSponsori:hover{
	cursor: hand; cursor: pointer;
	color:#00F;
}

.closeBtnSponsori{
	width:20px;
	height:20px;
	text-align:right;
	float:right;
}





